/* ==========================================================================
   Variables Section
   ========================================================================== */







/* Colors
   ========================================================================== */
$color-1: #ded6cb;  //toupe
$color-3: #3a3f3e;  //gray-text 
$color-5: #e0e0e0;  //gray-footer 
$color-6: #fff;     //white       
$color-7: #750c0c;  //dark-red
$color-8: #ececec;  //darker beige











/* Max width
   ========================================================================== */
$max-width: 1183px;
  